{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "advanceClock": true,
    "atom": true,
    "waitsForPromise": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "promise"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:promise/recommended",
    "plugin:react/recommended"
  ]
}
