{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "advanceClock": true,
    "atom": true,
    "waitsForPromise": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  },
  "plugins": [
    "promise",
    "react",
    "eslint-plugin-flowtype"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:prettier/recommended"
  ]
}
