'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Go Plus'
      'submenu': [
        { 'label': 'Format File', 'command': 'golang:gofmt' },
        { 'label': 'Vet File', 'command': 'golang:govet' },
        { 'label': 'Lint File', 'command': 'golang:golint' },
        { 'label': 'Check File Syntax', 'command': 'golang:gobuild' },
        { 'label': 'Test Coverage', 'command': 'golang:gocov' }
      ]
    ]
  }
]
