# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'ctrl-alt-c': 'golang:gocover'
  'ctrl-alt-shift-c': 'golang:cleargocover'
  'alt-cmd-g': 'golang:godef'
