# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.editor':
  'ctrl-alt-c': 'golang:gocover'
  'ctrl-alt-shift-c': 'golang:cleargocover'
  # TODO testing only. Remove
  'alt-cmd-g': 'golang:godef' 
